.button {
    padding: 15px 25px;
    color: black;
    font-size: 1.3rem;

    &:disabled {
        background-color: rgb(134, 94, 134);
    }

    &:enabled:active {
        transform: scale(.96);
    }

    @media (hover: hover) {
        &:hover:not(:disabled) {
            filter: brightness(0.8);
        }
    }
}

.rounded {
    border: 2px solid black;
    border-radius: 0.6rem;
}

.square {
    border: 2px solid black;
}